/* -------------------- *
 * Style for index.html *
 * -------------------- */

h1 {
  font-family: 'Crete Round', serif;
}

#navigation {
  padding: 15px 0 5px 0;
}

#navigation-title {
  margin: 0px;
}

#title-container {
  background-color: #022b6a;
  padding-top: 120px;
  text-align: center;
}

#title-container h1 {
  color: white;
  font-size: 55pt;
}

#title-container p {
  color: white;
  padding-top: 15px;
  font-family: 'Crete Round', serif;
  font-size: 20pt;
  font-style: italic;
}

.control {
  padding-left: 25px;
}

.control-header {
  font-style: italic;
  font-weight: bold;
}

.section-divider {
  padding-bottom: 9px;
  margin: 40px 0 20px 0;
  border-bottom: 1px solid #ccc;
}

h1.sub-header {
  padding-bottom: 20px;
}

.footer {
  color: #aaa;
  font-size: 10pt;
  padding-bottom: 50px;
}

.footer a {
  color: #88e;
}

/*
 * Plot-specific style
 */

#graph-label {
  color: #444;
  font-family: 'Crete Round', serif;
  font-size: 18pt;
  font-style: italic;
  font-weight: bold;
  line-height: 20px;
  padding-top: 15px;
  text-align: center;
}

.big-axis-label {
  color: #777;
  font-family: 'Crete Round', serif;
  font-size: 10pt;
  padding-top: 30px;
  text-align: center;
}



